.menu_container {
  display: flex;
  justify-content: left;
  margin-top: 46px;
}

.button_wrapper {
  /* position: relative; */
  /* display: inline-block; */
  height: 37px;
  width: 59px;
  margin-left: 18.5%;
  border: 1px solid #ABABAB;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}

.button_wrapper:hover,
#count:hover {
  cursor: pointer;
  background-color: #424242;
  color: white
}

.icon_wrapper {
  position: relative;
  top: calc(50% - 10px);
}

#count {
  font-size: 20px;
  position: relative;
  margin-left: 4px;
  align-self: center;
}

.vertical_line {
  width: 0px;
  height: 28px;
  border: 1px solid #ABABAB;
  margin-left: 15px;
  margin-right: 15px;
}

.clearAll {
  font-size: 14px;
  color: #3399FF;
  align-self: center;
}

.filter_menu {
  height: 286px;
  width: 320px;
  position: absolute;
  z-index: 10;
  left: 18.5%;
  top: 47px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.head {
  border-bottom: 1px solid #EAEAEA;
  height: 20%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 0.3fr;
}

.head>div {
  display: flex;
  align-items: center;
}

.head>div:nth-child(1) {
  justify-content: left;
  margin-left: 16px;
  font-size: 14px;
  color: #3399FF;
}

.head>div:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
}


.head>div:nth-child(3) {
  justify-content: right;
  margin-right: 24px;
  font-size: 17px;
}

.head>div:nth-child(3)>div:hover,
.head>div:nth-child(1):hover,
.clearAll {
  cursor: pointer;
}

.form_container {
  height: 80%;
  width: 100%;
}

#form {
  height: 100%;
}

.small_text {
  padding-top: 25px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #686868;
  margin-left: 25px;
}

.checkbox_row {
  margin-top: 25px;
  display: flex;
}

.checkbox_row>span {
  margin-left: 25px;
}

.checkbox_row>input {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: 25px;
  height: 20px;
  width: 20px;
}

.apply_button {
  margin-top: 35px;
  padding: 13px 137px;
  background: #424242;
  border-radius: 6px;
  justify-content: center;
  width: calc(100% - 20px);
  margin-left: 10px;

  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.apply_button:hover {
  cursor: pointer;
  background-color: black;
}

.form_grid {
  display: grid;
  grid-template-columns: 1fr;
}